# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio / MSBuild build & IDE artifacts
.vs/
[Xx]64/
[Ww]in32/
[Dd]ebug/
[Rr]elease/
*.ipch
*.tlog
*.pdb
*.idb
*.ilk
*.suo
*.user
*.VC.db
*.VC.opendb
*.recipe
*.vsidx
*.lastbuildstate
